<div class="row mb-5">
    <div class="col-12">
        <div class="card bg-light">
            <div class="card-body">
                <h5 class="card-title">
                    <i class="fas fa-chart-bar"></i> Статистика клиники
                </h5>
                <div class="row text-center">
                    <div class="col-md-3 mb-3">
                        <div class="p-3 bg-primary text-white rounded">
                            <h4>{{ doctors_count }}</h4>
                            <small>Врачей</small>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="p-3 bg-success text-white rounded">
                            <h4>{{ patients_count }}</h4>
                            <small>Пациентов</small>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="p-3 bg-info text-white rounded">
                            <h4>{{ appointments_today }}</h4>
                            <small>Записей сегодня</small>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="p-3 bg-warning text-white rounded">
                            <h4>{{ services_count }}</h4>
                            <small>Услуг</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  